#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Nothing to build

override_dh_auto_test:
	# No tests

override_dh_auto_install:
	# Create directory structure
	mkdir -p debian/proxmox-node-removal-addon/usr/share/perl5/pve-node-removal/PVE/API2
	mkdir -p debian/proxmox-node-removal-addon/usr/share/pve-manager/js/pve-node-removal
	
	# Install Perl API module
	cp PVE/API2/NodeRemoval.pm debian/proxmox-node-removal-addon/usr/share/perl5/pve-node-removal/PVE/API2/
	
	# Install web UI
	cp www/manager/node-removal/ClusterTab.js debian/proxmox-node-removal-addon/usr/share/pve-manager/js/pve-node-removal/
